.admin-flights-container {
  background: #f4f6f8;
  min-height: 100vh;
  padding: 40px 60px;

  .title {
    font-size: 28px;
    font-weight: 700;
    color: #1976d2;
    margin-bottom: 24px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      bottom: -6px;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: #1976d2;
      border-radius: 2px;
    }
  }

  p {
    font-size: 16px;
    color: #666;
  }
}
