.hotel-card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
  transition: 0.25s ease;
  cursor: pointer;

  &:hover {
    transform: translateY(-4px);
    box-shadow: 0 6px 16px rgba(0, 0, 0, 0.15);
  }
}

.hotel-image {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.hotel-info {
  padding: 12px 14px;

  h3 {
    font-size: 20px;
    font-weight: 600;
  }

  .location {
    font-size: 14px;
    color: #777;
    margin: 6px 0;
  }

  .description {
    font-size: 14px;
    color: #444;
  }
  
}
.hotel-actions {
  margin-top: 14px;
  display: flex;
  gap: 10px;
}
.btn {
      padding: 8px 14px;
      font-size: 14px;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      transition: 0.2s ease;
      font-weight: 500;
  }

    .btn-edit {
      background: #007bff;
      color: #fff;

      &:hover {
        background: #262c33;
      }
    }

    .btn-hide {
      background: #dc3545;
      color: #fff;

      &:hover {
        background: #c82333;
      }
    }

    .btn-show {
      background: #28a745;
      color: #fff;

      &:hover {
        background: #218838;
      }
    }